*{
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

html, body{
    height: 100%;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: white;
    line-height: 1.1;
}

/* About Me Section*/
#sec-aboutme{
    margin: 0px auto;
    padding: 300px 0px;
    max-width: 1000px;
}

/* About experience*/
#sec-exp{
    margin: 0px auto;
    padding: 300px 0px;
    max-width: 1000px;
}

/* About projects*/
#sec-proj{
    margin: 0px auto;
    padding: 300px 0px;
    max-width: 1000px;
}